.close-popup-bottom {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: burlywood;
  width: 250px;
  height: 50px;
  background-color: #e2e2e2;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
