.review-swiper {
  .swiper {
    width: 100%;
    height: 550px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;

    .swiper-slide__item {
      width: 100%;
      height: 100%;
      background-image: url(../img/review-swiper-img.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      h4 {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 110%;
        text-align: center;
        color: #e3cb85;
        padding-top: 93px;
        margin-bottom: 40px;
      }
      p {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        text-align: center;
        color: #ffffff;
        width: 840px;
        margin: 0 auto;
        margin-bottom: 60px;
      }
      h5 {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5px;
      }
      span {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: #fff;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background-color: #e3cb85;
  }
}

@media (max-width: 960px) {
  .review-swiper {
    .swiper {
    }

    .swiper-slide {
      .swiper-slide__item {
        h4 {
          font-size: 40px;
          width: 100%;
          text-align: center;
        }
        p {
          width: 100%;
          text-align: center;
        }
        h5 {
          width: 100%;
          text-align: center;
        }
        span {
          width: 100%;
          text-align: center;
        }
      }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
    }
  }
}
@media (max-width: 621px) {
  .review-swiper {
    .swiper {
    }

    .swiper-slide {
      .swiper-slide__item {
        h4 {
          padding-top: 40px;
        }
        p {
          width: 100%;
          text-align: center;
        }
        h5 {
          width: 100%;
          text-align: center;
        }
        span {
          width: 100%;
          text-align: center;
        }
      }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
    }
  }
}
