body {
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  min-width: 320px;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1295px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1180px) {
  body.active {
    overflow: hidden;
    height: 100vh;
  }
}
